*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#header{
    margin: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.logo-image{
    height: 1.5rem;
}
.nav-link {
    display: flex;
    align-items: flex-start;
    list-style: none;
}
.nav-item{
    color: #000;
    margin: 0 1rem;
}

.illustration {
    width: 90%;
}

.title-box {
    text-align: center;
    padding: 1rem;
}
.title-heading{
    margin: 1.7rem 0;
}
.title-description{
    margin-bottom: 2rem;
}
.email-box{
    display: block;
    margin: 0.8rem auto;
    padding: 1rem;
    width: 90%;
    height: 2rem;
}
.email-box:invalid{
    border: none;
    border-radius: 1px;
    outline: 2px solid red;
}
::placeholder{
    font-size: 12px;
    color: hsl(0, 0%, 75%);
}
.submit-button{
    background-color: hsl(224, 93%, 58%);
    height: 2rem;
    width: 90%;
    color: hsl(240, 75%, 98%);
    border: none;
    border-radius: 3px;
    margin-bottom: 3rem;
}
.submit-button:hover{
    background-color: hsl(224, 87%, 64%);
    cursor: pointer;
}

    /* Features  */

.bg-curve {
    background-image: url("images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
}

.feature-box{
    padding: 1.5rem;
    background-color: hsl(240, 75%, 98%);
    text-align: center;
}
.feature-title{
    margin: 5rem 0 2rem;
}
.feature-para {
    color: hsl(0, 0%, 28%);
    text-align: left;
    margin: 1rem 0;
}

.feature-link{
    margin: 2rem;
}
a{
    display: flex;
    justify-content: center;
    align-content: center;
    color: hsl(170, 45%, 43%);
    text-decoration: none;
}
a:hover {
    color: hsl(170, 56%, 54%);
}

    /* Testimonial  */

.testimonial {
    text-align: left;
    font-size: 12px;
    margin: 0 1.1rem 4rem;
    padding: 1.2rem 0.2rem 1.2rem 1.2rem ;
    box-shadow: 0 0 40px rgb(209, 209, 209);
    border-radius: 4px;
}
.testimonial-para {
    line-height: 1.2rem;
}
.customer {
    margin: 1rem 0 0.5rem;
}
.avatar {
    float: left;
    width: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.customer-name{
    font-weight: bold;
}
.customer-info{
    font-size: 8px;
}

    /* Newsletter */

#subscription{
    background-color: hsl(238, 22%, 44%);
    padding: 2rem;
    text-align: center;
    color: hsl(240, 75%, 98%);
}

.news-title{
    margin: 1rem;
}
.news-para {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}
.contact-form{
    width: 80%;
    margin: auto;
}
.email-box2::placeholder{
    padding: 5px;
}
.button2{
    font-size: 11px;
}

    /* Footer */

#footer{
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
    padding: 2.5rem;
}

.footer-logo{
    margin: 2rem 0;
    display: block;
}
.contacts{
    margin: 1rem 0;
    display: flex;
}
.contact-icon{
    margin-right: 1rem;
}
.contact-items{
    list-style: none;
    margin: 3rem 0;
}
.contact-items li{
    margin: 0.8rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
}
.fa-brands{
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(178, 178, 178);
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
}

@media (min-width: 640px) {
    .navbar{
        margin: 2.5rem;
    }
    .logo-image{
        height: 2rem;
    }
    .title-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
    .header-image{
        order: 2;
    }
    .illustration1{
        width: 80%;
        height: 80%;
    }
    .title-section{
        text-align: left;
        padding: 2rem;
    }
    .title-heading{
        font-family: 'Raleway', sans-serif;
        line-height: 3rem;
        font-size: 2rem;
    }
    .title-description{
        padding-right: 4rem;
        margin: 0;
    }
    .submit-form{
        margin: 1rem 0;
    }
    .email-box{
        display: inline;
        width: 50%;
        margin-right: 0.5rem;
    }
    .submit-button{
        width: 30%;
        height: 36px;
    }

        /* Features */

    .bg-curve{
        background-image: url("images/bg-curve-desktop.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 110px;
    }
    .feature-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        padding: 2rem;
    }
    .illustration-box{
        order: 2;
    }
    .features-content{
        margin: 1rem;
    }
    .feature-title{
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1px;
    }
    .feature-para{
        margin: 1rem 0;
        padding-right: 10rem;
        color: #000;
    }
    .feature-link{
        margin: 2rem 0;
    }
    .feature-link a{
        display: flex;
        justify-content: flex-start;
    }
    .testimonial{
        margin: 2rem 0 2rem;
        width: 50%;
    }
}

































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
